In [2]:
num1 = 1.5
num2 = 6.3

sum = num1 + num2

print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

The sum of 1.5 and 6.3 is 7.8

In [3]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 11
11 is Odd

In [4]:
num = 29
flag = False
if num == 0 or num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

29 is a prime number

In [5]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
d=int(input("enter a number"))
l=[a,b,c,d]
print(max(l))

enter a number1
enter a number2
enter a number3
enter a number4
4

In [10]:
b=int(input("enter a number"))
c=1
for i in range(1,b+1):
  c*=i
print(c)

enter a number09
362880

In [14]:
a=int(input("enter a number:"))
b=str(a)
c=b[::-1]
print(int(c))

enter a number:1
1

In [26]:
a=input("enter sequence:")
b=a[::-1]
if b==a:
  print("pallindrome")
else:
  print("not pallindrome")

enter sequence:lkjhhg
not pallindrome

In [27]:
a=int(input("table value:"))
b=int(input("enter the number of multi:"))
for i in range(1,b+1):
  print(a,"*",i,"=",a*i)

table value:2
enter the number of multi:10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [31]:
a=int(input("enter a number:"))
q=0
b=str(a)
for i in range(len(b)):
  c=0
  c=a%10
  a=a//10
  q+=c
  print(q)

enter a number:16
6
7

In [34]:
a=int(input("enter a number"))
b=int(input("enter a number"))
d=int(input("enter a number"))
match(d):
  case"1":
    print(a+b)
  case"2":
    print(a-b)
  case"3":
    print(a*b)
  case"4":
    print(a/b)

enter a number7
enter a number5
enter a number8

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [35]:
for i in range(5):
  print(i*"*")

*
**
***
****